@font-face {
    font-family: DM Sans;
    src: url("../src/assets/fonts/DMSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter_18pt-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter_18pt-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter_18pt-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter_18pt-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter_18pt-Light.ttf");
    font-weight: 300;
}




@import "tailwindcss";

@theme {
    /* Colors */
    --color-ligth-gray: #F2F4F7;
    /* --color-black-primary: #1D2939;
    --color-black-secondary: #222222;
    --color-black-mutted: #333333; */


    /* Fonts */
    --font-dm-sans: DM Sans, sans-serif;
    --font-inter: Inter, sans-serif;
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    background-color: var(--color-ligth-gray);
    height: 100vh;
}

#root {
    height: 100%;
}


:where(button, [role="button"]):not([disabled]) {
  cursor: pointer;
}

.card {
    box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
}